extends ../templates/layout1.pug
block title
	h3 Page 2
block header
	include ../templates/header.pug
block nav
	include ../templates/nav.pug
block news 
	include ../templates/news.pug
block footer
	include ../templates/footer.pug