doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(href="../css/main.css" rel="stylesheet" type="text/css")

	body
		include mixins.pug
		include menu.pug
		block wrapper
		div.footer это футер