doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(href="../css/pages.css" rel="stylesheet" type="text/css")

	body
		include mixins.pug
		block title
		block header
		block nav
		div.main
			block news
			h1 Main content
			p Quisque non lobortis orci. Morbi augue mauris, ultrices at fermentum ac, consequat vitae magna. Pellentesque non cursus mi, eu cursus nunc. Nullam  et odio tristique, volutpat urna vitae, dignissim orci. Fusce eu nulla urna.This template was created by Erik Padamans.
		block footer